{% extends 'base.html' %}
{% block title %}
      <title> VAARTA MAMEEY DURRRR!!! </title>
{% endblock title%}
{% block content %}
      <div class="container">
        <div class="img-container">
            <img
          src="static/HackerzGif.gif"
          alt="event-logo"
          class="image"
          >
          <img
          src="static/Glitched logo.jpg"
          alt="event-logo"
          class="image"
          >
          <img
          src="static\The_redemption_ark_logo-removebg-preview.png"
          id="event-img"
          alt="Event logo"
          class="image"
          />
        </div> 
        <div class="right-column">
          <p class="text">
           MISSION ACCOMPLISHED <br>
           RESPECT ++
          </p>

        </div>
      </div>
{% endblock content%}