{% extends 'roundbase.html' %}
{% block round_title %}

<title>Round Four</title>

{% endblock round_title %}
{% block round_messages %}
{% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert-{{category}}"> {{ message }}</div>
{% endfor %}
{% endblock round_messages %}
{% block text_instructions %}

<p> While running a probe through the Cyrus grid, I came across a weird file. It consists of code that our system is not able to compile. Inspect the file and see whether you could deduce a solution to it. <br> <br>
  <ol class= "text">
    <li class="list-item">Open the ether.sol file using Notepad.</li>
    <li class = "list-item">Carefully analyze the code and figure out the solution.</li>
    <li class = "list-item">THE KEY IS IN PLAIN SIGHT!
    </li>
    <li  class = "list-item">Enter the solution in the below text field to move to the next phase of our mission.</li>
  </ol>
</p>
{% endblock text_instructions %}
{% block form %}
      <form action  = "{{ url_for('submit_round4') }}" method = "post">
       
        <input type="text" class="text-field" name="submission" id="submission"><br><br>
    
      <button class="cybr-btn">
        ATTACK<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch">ATTACK</span>
        <span aria-hidden class="cybr-btn__tag">ATTACK</span>
      </button>
    </form>
    
 {% endblock form %}