{% extends 'base.html' %}
{% block title %}
{% block round_title %}
  <title> round </title>
{% endblock round_title %}  
{% endblock title %}
{% block message %}
{% block round_messages %}
<p> message placeholder </p>
{% endblock round_messages %}
{% endblock message %}
{% block content %}

<div class = "container">
    <div class= "right-column">
      <div class = "img-container">
        <img src = "static\Cognex.gif" id = "event-img" alt="Event logo"/>
      </div>
    </div>
    <div class = "right-column">
        {% block text_instructions %}
            <p> PlaceHolder </p>
        {% endblock text_instructions %}
        {% block form %}
            <p> insert form </p>
        {% endblock form %}
    </div>
</div>
{% endblock content%}