{% extends 'roundbase.html' %}
{% block round_title %}

<title>Round Three</title>

{% endblock round_title %}
{% block round_messages %}
{% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert-{{category}} glow-on-hover-error round2">{{ message }}</div>
{% endfor %}
{% endblock round_messages %}
{% block text_instructions %}

<p class="text-round2" style="font-size: 17px; ">It seems that some of Nexus data is still under the Cyrus grid. There are a lot of text files, images and other cache files in its dataset. <br> <br>
  Firstly, download the archive. Two of the images contain the key to authenticate the grid. Using that key we can crash the entire Cyrus grid. Your task now is to find the right images that contain the encoded key. It might be our way to mark the backdoor that Cyrus used to enter the Nexus’ network. <br> <br>
  Make sure to debug the ‘Unravel’ file before decrypting the images. <br> <br> </p>
  <ol class= "text">
    <li class="list-item2" style="font-size: 17px;">Open the  unravel.py  file using IDLE (Python 3.7 64-bit)</li>
    <li class = "list-item2"style="font-size: 17px;">Debug the syntax errors and run the program.</li>
    <li class = "list-item2"style="font-size: 17px;">The keys are hidden in two images.</li>
    <li class = "list-item2"style="font-size: 17px;">Mention the path of the image file one by one and extract the keys.</li>
    <li  class = "list-item2"style="font-size: 17px;">Concatenate the two keys and enter in the below text field.</li>
  </ol>
  
   <form method= "get" action = "{{ url_for('download')}}" class="download">
    <button class="cybr-btn">
      ARCHIVE<span aria-hidden></span>
      <span aria-hidden class="cybr-btn__glitch">ARCHIVE</span>
      <span aria-hidden class="cybr-btn__tag">ARCHIVE</span>
    </button>
   </form><br> 
   {% endblock text_instructions %}
   {% block form %}
   
   <form action  = "{{ url_for('submit_round3') }}" method = "post" class="form">
     
     <input type="text" class="text-field" name="submission" id="submission"><br>
    
      <button class="cybr-btn">
        UNLOCK<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch">UNLOCK</span>
        <span aria-hidden class="cybr-btn__tag">UNLOCK</span>
      </button>
    </form>
    <div id="timer">
      <span id="minutes"></span>:
      <span id="seconds"></span>
    </div>
    <script>
      function upTimer ( count ) { return count > 9 ? count : "0" + count; }
      
      setInterval( function(){
        var second =( new Date() - new Date(sessionStorage.getItem("startTime")))/1000;
        document.getElementById("seconds").innerHTML= upTimer(parseInt(second % 60));
        document.getElementById("minutes").innerHTML= upTimer(parseInt(second / 60, 10));
      }, 1000);
    </script>
{% endblock form %}